body {
  margin: 0px;
  margin-top: -16px;
  font-family: cursive;

}

.wrapper {
  width: 100%;
  margin: auto;
}

nav {
  background-color: #FFA072;
  text-align: right;
  height: 150px;
  font-size: 40px;
  color: red;
  overflow: auto;
  opacity: 0.5;
}

nav:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

nav li {
  display: inline-block;
  padding: 20px;
  overflow: auto;
}

nav li:hover {
  background-color: #FFEAE0;
  border-radius: 5px;
}

h2 {
  padding: 20px;
  text-align: center;
}

.wrapper {
  padding-top: 166px;
}

.maincontainer {
  height: auto;
  width: 100%
}

.container2 {
  background-color: white;
  opacity: 0.5;
  height: auto;
  width: 90%;
  margin: auto;
  border-radius: 5px;
}

.container2 p {
  padding: 10px;
}

.aboutme {
  background-color: #0b4daf;
  margin: auto;
  height: auto;
  width: 60%;
  display: inline-block;
  float: left;
}

.skills {
    background-color: #4d4dff;
    height: auto;
    width: 40%;
    display: inline-block;
    float: right;
}

.experience {
  background-color: #4d94ff;
  margin: auto;
  height: auto;
  width: 60%;
  display: inline-block;
  float: left;
}

footer {
  text-align: center;
  font-size: 30px;
  background-color: #FFA072;
  color: red;
  float: left;
  width: 100%;
}

h3 {
  padding: 10px;
  display: inline-block;
}

@media screen and (max-width: 900px) {
  header {
    height: auto;
    font-size: 20px;
  }

  nav li {
    font-size: 20px;
  }

  .aboutme {
    width: 100%;
  }

  .experience {
    width: 100%;
  }

  .skills {
    width: 100%;
  }

  footer {
    height: auto;
    font-size: 20px
  }
}
