body {
  margin: 0px;
  margin-top: -16px;
  font-family: cursive;
}

.wrapper {
  width: 100%;
  margin: auto;
}

header {
  background-color: #FFA072;
  text-align: right;
  height: 150px;
  font-size: 40px;
  color: red;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

header li {
  display: inline-block;
  padding: 20px;
  overflow: auto;
}

header li:hover {
  background-color: #FFEAE0;
  border-radius: 5px;
}

h2 {
  padding: 20px;
  text-align: center;
}

.maincontainer {
  height: auto;
  width: 100%
}

.container {
  background-color: white;
  opacity: 0.5;
  height: auto;
  width: 90%;
  margin: auto;
  border-radius: 5px;
}

.container p {
  padding: 10px;
}

.aboutme {
  background-color: #4d94ff;
  margin: auto;
  height: auto;
  width: 50%;
  display: inline-block;
  float: left;
}

.experience {
    background-color: #4d4dff;
    height: auto;
    width: 50%;
    display: inline-block;
    float: right;
}

footer {
  text-align: center;
  font-size: 30px;
  background-color: #FFA072;
  color: red;
  float: left;
  width: 100%;
}

h3 {
  padding: 10px;
  display: inline-block;
}

@media screen and (max-width: 800px) {
  header {
    height: auto;
    font-size: 20px;
  }

  .aboutme {
    width: 100%;
  }

  .experience {
    width: 100%;
  }

  footer {
    height: auto;
    font-size: 20px
  }
}
